.site-wrapper {
  display: flex;
  height: calc(100vh - 26px);

  @include mobileMax {
    height: 100vh;
  }
}

.content-wrapper {
  padding: 10px;
  width: calc(100% - 10px);
  overflow: hidden auto;

  @include themify {
    box-shadow: inset 0 0 5px 1px rgba(themed($colorMainContrast), $halfOpacity);
    background-color: themed($colorMain);
  }
}

.data-wrapper {
  margin-top: 5px;
}

.authorization-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
}