@keyframes loaderInnerRing {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes loaderOuterRing {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-360deg);
  }
}