button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: filter 0.1s ease-in-out, background-color 0.25s;
  font-size: 18px;

  &.round {
    border-radius: 50%;
  }

  &.absolute {
    position: absolute;
  }

  &.top {
    top: 10px;
  }

  &.right {
    right: 5px;
    margin-left: auto;
    margin-right: 0;
  }

  &.center {
    margin: auto;
  }

  &.small {
    font-size: 16px;
    padding: 0 8px;
  }

  &:hover {
    color: #F00;
    filter: drop-shadow(0 0 1px #000);

    &.warn {
      filter: drop-shadow(0 0 1px #f00);
    }

    &.accept {
      filter: drop-shadow(0 0 1px #0f0);
    }

    .unknown & {
      filter: drop-shadow(0 0 1px #eee);
    }
  }
}

input[type=button],
input[type=submit] {
  @extend button;
  background-color: royalblue;
  color: #eee;
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0 0 3px 1px rgba(#000, 0.3);
  min-height: 30px;
  min-width: 70px;

  &:hover {
    background-color: #0f0;
  }

  &.small {
    min-height: 28px;
    min-width: 50px;
  }
}

.submit-wrapper {
  margin-top: 5px;
  width: calc(100% - 5px);
  display: flex;
}
