.item-wrapper {
  display: flex;
  flex-direction: column;
}

.item-description {
  width: 100%;
  text-align: justify;
  max-height: 107px;
  min-height: 20px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}